
<!DOCTYPE html>
<html>
</script>
  <head>
    <title>Test Task</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      .container {
        max-width: 1920px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
          <h1>Enter the command</h1>
          <br>
          <form role="form" method="POST" action="/">
            <div class="form-group">
              <input type="text" name="cmdtext" class="form-control" id="cmdtext-box" placeholder="" style="max-width: 100%;">
            </div>
            <a href="/" target="_blank">
                <button type="submit" class="btn btn-default">Submit</button>
            </a>
          </form>
            <form role="form" method="POST" action="/history">
            <a href="http://0.0.0.0:8000/history" target="_blank">
                <button type="history" class="btn btn-default" onClick="window.location.reload()">Refresh</button>
            </a>
          </form>
            <h2>Result</h2>
            <br>
            <div class="container" style="max-width: 100%;">
                <table style="width: 100%;">
                    <thead>
                    <tr>
                        <th>Command </th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for row in value %}
                        <tr>
                            <td>{{row[0]}}</td>
                            <td>{{row[1]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br><br>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>
